<template name="wilkomen">
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Kompleks kortów tenisowych</h3>
        </div>

        <div class="jumbotron">
            <h1>Witamy!</h1>
            <p class="lead">Aplikacja, którą uruchomiłeś została stworzona zarówno dla pracowników jak i dla klentów kompleksu kortów tenisowych. Umożli ona Tobie zarezwowanie wybranego kortu, lub sprzętu, a jeśli jesteś pracownikiem jest to twoje główne narzędzie pracy: zarządzanie rezerwacjami, katalogowanie sprzętu, zgłaszanie usterek i napraw.</p>
            <p><a class="btn btn-lg btn-primary" href="{{pathFor 'login'}}" role="button">Zaloguj</a>
                <a class="btn btn-lg btn-primary" href="{{pathFor 'register'}}" role="button">Rejestruj</a>
            </p>
        </div>
    </div>
</template>
